:root {
  --font-size: 16px;
  --font-family: Menlo, Consolas, monospace;
  --background-color: #eaeaea;
  --selected-item-color: #29d;
  --navbar-width: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-weight: 300;
  font-size: var(--font-size);
}

#app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1;
  min-height: 100%;
  padding: 0;
}
