.example {
  display: flex;
  margin: 20px 0;
}

.example.vertical {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 500px;
  max-width: 800px;
}

@media (max-width: 1024px) {
  .example.vertical {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}

.example-header-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .example-header-mobile {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 90%;
  }

  .example-header-mobile h1 {
    font-size: 24px;
  }

  .example-header-mobile .menu-icon,
  .example-header-mobile .github-icon {
    width: 22px;
    height: 22px;
    fill: #aaa;
  }
}

.todo-lists {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.todo-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0 20px 20px;
  width: 100%;
}

@media (max-width: 1024px) {
  .todo-list {
    width: 95%;
  }

  .todo-list.dragging {
    transition: box-shadow 200ms ease-in-out;
    box-shadow: 0 0 7px rgba(0, 0, 0, .1);
  }
}

.todos {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  transition: background-color 200ms ease-in-out;
  padding: 24px 30px 30px;
  width: 100%;
  border: 1px dashed #ccc;
  border-radius: 6px;
  background-color: var(--background-color);
}

@media (max-width: 1024px) {
  .todo-list .todos {
    width: 100%;
  }

  .todos {
    width: 95%;
  }
}

.todos-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.todos-header .drag-handle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
  cursor: grab;

  /* FIXME: Part of keyboard interactions feature */
  outline: none;
}

.todos-header .drag-handle .drag-handle-icon {
  width: 16px;
  height: 16px;
  fill: #aaa;
}

.todos.active {
  background-color: #f1f1f1;
}

.todo {
  display: flex;
  padding: 10px 16px;
  border: 1px solid var(--background-color);
  border-radius: 4px;
  background-color: #fff;
  cursor: grab;
}

@media (max-width: 1024px) {
  .todo.dragging {
    transition: box-shadow 200ms ease-in-out;
    box-shadow: 0 0 7px rgba(0, 0, 0, .1);
  }
}

.scrollable-container {
  display: block;
  width: 100%;
  height: 70vh;
  overflow-y: auto;
}
